/* App.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.class-row td:first-child {
  font-weight: normal; /* Remove bold styling for the first column */
}

.class-row:not(:first-child) td {
  border-top: none; /* Remove top border for all subject names except the first one in each class */
}
